body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
}

#username{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchBtn{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.repo{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.repo h2{
    margin-top: 0;
    font-size: 10px;
}

.repo p{
    margin-top: 10px;
    font-size: 10px;
}

.repo a{
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.repo p.creation-date, 
.repo p.update-date{
    font-style: italic;
}

.repo p.commits,
.repo p.languages,
.repo p.watchers{
    font-weight: bold;
}